.header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  text-decoration: none;

  &__text {
    display: inline-block;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: transform 0.2s, filter 0.5s;

    &:hover,
    &:focus {
      filter: drop-shadow(0 0 1rem rgba(255, 0, 0, 0.8));
      transform: scaleX(0.95);
    }
  }
}

.episode {
  margin: 0 1rem;
  width: 25rem;
  position: relative;

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;

    &:focus {
      outline: none;
      color: orange;
    }
  }

  &:hover &__link,
  &:active &__link {
    color: orange;
  }

  &__title {
    font-size: 2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__like-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    border: 2px solid orangered;
    background: cornflowerblue;
    border-radius: 50%;
    width: 4.1rem;
    height: 4rem;
    line-height: 0.5;
    color: orangered;
    display: none;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    backface-visibility: hidden;

    &:focus {
      outline: none;    
      color: orange;
      border-color: orange;
    }

    &:active,
    &:hover {
      color: orange;
      border-color: orange;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &:hover &__like-btn {
    display: block;
  }
}

.favorites {
  display: flex;
  align-items: center;
  position: relative;

  & > p {
    margin-right: 1rem;
  }

  &__icon {
    position: relative;
    font-size: 5rem;
    border: 2px solid orangered;
    background: cornflowerblue;
    border-radius: 50%;
    width: 4.1rem;
    height: 4rem;
    line-height: 0.7;
    color: orangered;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
      outline: none;
      color: orange;
      border-color: orange;
    }
  }

  &__icon:hover + &__list {
    display: block;
  }

  &__count {
    position: absolute;
    right: -5px;
    bottom: 0;
    font-size: 1.6rem;
    color: #fff;
    background-image: radial-gradient(
      circle at 50%,
      rgba(0, 0, 0, 0.6) 60%,
      transparent 80%
    );
    border-radius: 50%;
    min-width: 2rem;
    line-height: 1.4;
    padding: 0 2px;
  }

  &__list {
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
    display: none;
    background: cornflowerblue;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    width: 40rem;
    z-index: 10;
    font-size: 1.6rem;
    line-height: initial;
    list-style: none;
    transition: transform 0.2s;

    &:hover {
      display: block;
    }

    @include respond(tab-port) {
      left: 0;
      transform: translateX(-90%);
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    color: #fff;

    &:hover,
    &:active {
        color: orange;
    }
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    padding: 1rem;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__delete {
    font-size: 3rem;
    line-height: 1.3;
    color: orangered;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus {
      color: orange;
    }
  }
}
